<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        <typeAliases>
                <typeAlias type="com.vo.AdminVO" alias="admin"/>
                <typeAlias type="com.vo.UsersVO" alias="users"/>
                <typeAlias type="com.vo.CarVO" alias="car"/>
                <typeAlias type="com.vo.CarSensorVO" alias="carSensor"/>
                
        </typeAliases>
        
        <mappers>
                <mapper resource="com/mybatis/adminMapper.xml"/>
                <mapper resource="com/mybatis/usersMapper.xml"/>
                <mapper resource="com/mybatis/carMapper.xml"/>
                <mapper resource="com/mybatis/carSensorMapper.xml"/>
        </mappers>
        
        
</configuration>
