<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 이게 있어야 NULL값이 들어갈 수 있다 -->
<settings> 
    <setting name="cacheEnabled" value="false" />
    <setting name="jdbcTypeForNull" value="NULL" />
</settings>

	<typeAliases>
		<typeAlias type="com.vo.AdminVO" alias="admin"/>
		<typeAlias type="com.vo.CarVO" alias="car"/>
		<typeAlias type="com.vo.CarSensorVO" alias="carsensor"/>
		<typeAlias type="com.vo.UsersVO" alias="users"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/mybatis/adminmapper.xml"/>
        <mapper resource="com/mybatis/carmapper.xml"/>
        <mapper resource="com/mybatis/carsensormapper.xml"/>
        <mapper resource="com/mybatis/usersmapper.xml"/>
	</mappers>
</configuration>








