<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UsersDAO">
	
	<insert id="insert" parameterType="users">
		INSERT INTO ADMIN VALUES (#{adminid},#{adminpwd},#{adminname},#{adminphone},#{adminstate})
	</insert>
	
	<update id="update" parameterType="users">
		UPDATE ADMIN SET ADMINPWD=#{adminpwd}, ADMINNAME=#{adminname}, ADMINPHONE=#{adminphone}, ADMINSTATE=#{adminstate} WHERE ADMINID=#{adminid}
	</update>
	
	<delete id="delete" parameterType="String">
		DELETE FROM ADMIN WHERE ADMINID=#{k}
	</delete>
	
	<select id="select" parameterType="String" resultType="users">
		SELECT * FROM ADMIN WHERE ADMINID=#{k}
	</select>
	
	<select id="selectall" resultType="users">
		SELECT * FROM ADMIN 
	</select>
	
	<!-- 사용안함 -->
	<select id="selectcarsfromuser" parameterType="carsensor" resultType="carsensor">
		
	</select>
	
	
</mapper>