<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UsersDAO">
	
	<insert id="insert" parameterType="users">
		INSERT INTO USERS VALUES (#{userid},#{userpwd},#{username},#{userphone},#{userbirth},#{usersex},SYSDATE,'f','car','o','o','o','o',#{mobiletoken})
	</insert>
	
	<update id="update" parameterType="users">
		UPDATE USERS SET USERNAME=#{username}, USERPWD=#{userpwd}, USERPHONE=#{userphone}, USERBIRTH=#{userbirth}, USERSEX=#{usersex}, USERSTATE=#{userstate}, USERSUBJECT=#{usersubject}, BABYPUSHCHECK=#{babypushcheck}, ACCPUSHCHECK=#{accpushcheck}, SLEEPPUSHCHECK=#{sleeppushcheck}, DROPPUSHCHECK=#{droppushcheck} WHERE USERID=#{userid}
	</update>
	
	<delete id="delete" parameterType="String">
		DELETE FROM USERS WHERE USERID=#{k}
	</delete>
	
	<select id="select" parameterType="String" resultType="users">
		SELECT * FROM USERS WHERE USERID=#{k}
	</select>
	
	<select id="selectall" resultType="users">
		SELECT * FROM USERS
	</select>
	
	<!-- 사용안함 -->
	<select id="selectcarsfromuser" parameterType="carsensor" resultType="carsensor">
		
	</select>
	
	<select id="selectfromkeys" parameterType="String" resultType="users">
		SELECT * FROM USERS WHERE USERNAME=#{param1} AND USERPHONE=#{param2}
	</select>
	
</mapper>